---
layout: default
---


<!-- Main -->
<div id="main">
    <section>
        <header class="major">
        <h2>About</h2>
        <!--p class="post-meta">{% if post.author %} • {{ post.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p-->
        </header>

    <section>
        Jean is a PhD student in the Department of Electrical Engineering and Computer Science (EECS) at the University of Michigan, Ann Arbor. 
        She is advised by <a href="http://web.eecs.umich.edu/~wlasecki/">Prof. Walter S. Lasecki</a> in EECS. 
        Her research interest spans digital image processing, human-computer interaction (HCI), machine learning and crowdsourcing. 
        She was previously coadvised by Prof. (Emeritus) Charles R. Meyer in the Department of Biomedical Engineering and Prof. Jeffrey A. Fessler in EECS. 
        She is looking for internships in related fields such as computer vision and HCI.  
    </section>

    </section>
    <section>
        <header class="major">
        <h2>Projects</h2>
        </header>
        <div class="row">
            <header>
                <h2>RoboCrowds</h2>
            </header>
            <section>
                Jean is a PhD student in the Department of Electrical Engineering and Computer Science (EECS) at the University of Michigan, Ann Arbor. 
        She is advised by <a href="http://web.eecs.umich.edu/~wlasecki/">Prof. Walter S. Lasecki</a> in EECS. 
        Her research interest spans digital image processing, human-computer interaction (HCI), machine learning and crowdsourcing. 
        She was previously coadvised by Prof. (Emeritus) Charles R. Meyer in the Department of Biomedical Engineering and Prof. Jeffrey A. Fessler in EECS. 
        She is looking for internships in related fields such as computer vision and HCI. 
            </section>
        </div>
        <div class="row">
            <header>
                <h2>2D/3D Image Registration</h2>
            </header>
            <section>
                Jean is a PhD student in the Department of Electrical Engineering and Computer Science (EECS) at the University of Michigan, Ann Arbor. 
        She is advised by <a href="http://web.eecs.umich.edu/~wlasecki/">Prof. Walter S. Lasecki</a> in EECS. 
        Her research interest spans digital image processing, human-computer interaction (HCI), machine learning and crowdsourcing. 
        She was previously coadvised by Prof. (Emeritus) Charles R. Meyer in the Department of Biomedical Engineering and Prof. Jeffrey A. Fessler in EECS. 
        She is looking for internships in related fields such as computer vision and HCI. 
            </section>
        </div>
    </section>
</div>
