---
layout: default
---


<!-- Main -->
<div id="main">
  <section style="max-width: 61em">
    <header class="major">
      <h2>About</h2>
      <!--p class="post-meta">{% if post.author %} • {{ post.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p-->
    </header>

    <section style="max-width: 48em">
      I am a PhD candidate in the Department of Electrical Engineering and Computer Science (EECS) at the University of Michigan, Ann Arbor.
      I am advised by <a href="http://web.eecs.umich.edu/~wlasecki/">Prof. Walter S. Lasecki</a> and am a member of <a href="https://web.eecs.umich.edu/~wlasecki/croma.html">CRO+MA Lab</a>.
      I am currently at KAIST as a visiting student in <a href="https://kixlab.github.io/">KIXLAB</a> working with <a href="https://juhokim.com/">Prof. Juho Kim</a>.
      <br/><br/>
      My research interests are focused on eliciting and leveraging diverse annotations from people
      to convert raw data to meaningful information,
      which can harness artificial intelligence systems and provide valuable insight to end users.
      <br/><br/>
      Keywords:
      <a href="https://www.explainxkcd.com/wiki/index.php/2173:_Trained_a_Neural_Net" target="_blank">#Human Computation</a>;
      <a href="http://www.cs.umd.edu/~bederson/images/pubs_pdfs/p1403-quinn.pdf" target="_blank">#Crowdsourcing</a>;
      <a href="https://interactions.acm.org/archive/view/march-april-2013/teaching-and-learning-human-computer-interaction" target="_blank">#Human-Computer Interaction</a>;
      <a href="https://machinelearningmastery.com/what-is-computer-vision/" target="_blank">#Computer Vision</a>;
      <a href="https://www.csee.umbc.edu/courses/471/papers/turing.pdf" target="_blank">#Artificial Intelligence</a>
      <!--research interests look a bit too broad. Maybe talk about tool diversity, or something that shows the uniqueness of what you’re trying to do with research.-->
    </section>
  </section>

  <section style="max-width: 61em">
    <header class="major">
      <h2>Publications</h2>
    </header>
    <section style="max-width: 48em">
      <h3>Conference and Journal Papers</h3>
      <div class="row">
        <ul>
          <li>J.J.Y. Chung, <b>J.Y. Song</b>, S. Kutty, S. Hong, J. Kim, W.S. Lasecki.
            <a href="/publications/ManyThoughts_CSCW2019.pdf">Efficient Elicitation Approaches to Estimate Collective Crowd Answers.
            </a>
            In Proceedings of the ACM International Conference on Computer Supported Cooperative Work and Social Computing (CSCW 2019).
            Austin, TX. <font color="#FFC300">Best Paper Honorable Mention</font>
          </li>
          <li><b>J.Y. Song</b>, R. Fok, J. Kim, W.S. Lasecki.
            <a href="https://doi.org/10.1145/3237188">FourEyes:
              Leveraging Tool Diversity as a Means to Improve Aggregate Accuracy in Crowdsourcing.
            </a>
            In ACM Transactions on Interactive Intelligent Systems, Volume 19, Issue 1, Article No. 3 (TiiS 2019).
          </li>
          <li><b>J.Y. Song</b>, S.J. Lemmer, X. Liu, S. Yan, J. Kim, J.J. Corso, and W.S. Lasecki.
            <a href="/publications/popup_IUI2019.pdf">Popup:
              Reconstructing 3D Video Using Particle Filtering to Aggregate Crowd Responses.
            </a>
            In Proceedings of the ACM International Conference on Intelligent User Interfaces (IUI 2019).
            Los Angeles, CA. [25% Acceptance Rate]
          <li> <b>J.Y. Song</b>, R. Fok, A. Lundgard, F. Yang, J. Kim, W.S. Lasecki.
            <a href="/publications/IUI2018_FourEyes.pdf">Two Tools are Better Than One:
              Tool Diversity as a Means of Improving Aggregate Crowd Performance.
            </a>
            In Proceedings of the ACM International Conference on Intelligent User Interfaces (IUI 2018).
            Tokyo, Japan. [23% Acceptance Rate] <font color="#FFC300">Best Student Paper Honorable Mention</font>
          </li>
        </ul>
      </div>
      <h3>Posters, Demos, and Workshop Papers</h3>
      <div class="row">
        <ul>
          <li>A.M. Vernier, <b>J.Y. Song</b>, E. Sun, A. Kench, W.S. Lasecki.
            <a href="/publications/corsica_UIST2019-poster.pdf">Towards Universal Evaluation of Image Annotation Interfaces.
            </a>
            In Proceedings of the ACM Symposium on User Interface Software and Technology (UIST 2019).
            New Orleans, LA.
          </li>
          <li> <b>J.Y. Song</b>, R. Fok, F. Yang, K. Wang, A.R. Lundgard, W.S. Lasecki.
            <a href="/publications/GroupSight2017_ToolDiversity.pdf">Tool Diversity
              as a Means of Improving Aggregate Crowd Performance on Image Segmentation Tasks.
            </a>
            In HCOMP Workshop on Human Computation for Image and Video Analysis (HCOMP GroupSight 2017).
            Quebec City, Quebec. 2017.
          </li>
          <li> S. Gouravajhala, <b>J.Y. Song</b>, J. Yim, R. Fok, Y. Huang, F. Yang, K. Wang, Y. An, W.S. Lasecki.
            <a href="/publications/eureca_ci2017.pdf">Towards Hybrid Intelligence for Robotics.
            </a>
            In Collective Intelligence Conference (CI 2017). New York, NY.
          </li>
          <li> <b>J. Y. Song</b> and C. R. Meyer,
            <a href="/publications/Jean_SPIE_Poster.pdf">
              2D-3D Image Registration using Thin-Plate Spline and Volume Rendering.
            </a>
            SPIE Medical Imaging 2015.
            Orlando, FL.
          </li>
          <li> <b>J. Y. Song</b>, J. A. Fessler, and C. R. Meyer,
            <a href="/publications/Jean_CR_final.pdf">
              Adaptive Filtering on Conditional Mutual Information for Intermodal Non-Rigid Image Registration.
            </a>
            IEEE Nuclear Science Symposium and Medical Imaging Conference (NSS/MIC 2014).
            Seattle, WA.
          </li>
        </ul>
      </div>
      <h3>Thesis</h3>
      <div class="row">
        <ul>
          <li><b>J.Y. Song</b>.
            <a href="/publications/Thesis2019_JeanYSong.pdf">Eliciting and Leveraging Input Diversity in Crowd-Powered Intelligent Systems.
            </a>
            University of Michigan Ph.D. Thesis. 2019.
          </li>
        </ul>
      </div>
      <br/>
    </section>
  </section>

  <section style="max-width: 61em">
    <header class="major">
      <h2>Projects</h2>
    </header>
    <div class="row">
      <header style="width: 100%">
        <h3>Robust 4D Simulation of Rare Events enabled by Human-Augmented Computer Vision</h3>
      </header>
      <div style="max-width: 36em; float: left">
        Research in robotics and autonomous vehicles suffers from a lack of realistic training data and environments
        in which to test new approaches. Rare and unusual events such as traffic accidents occur several orders of
        magnitude less frequently than is needed to collect large enough training and testing sets, presenting a
        fundamental bottleneck in the research and deployment of such systems. Thus, we propose to use a crowdsourced
        human-­in-­the-­loop approach to guide computer vision algorithms to extract measurement information from large
        video corpora, allowing us to create simulations of scene dynamics for training and testing.
      </div>
      <div class="project-image">
        <img src="/images/projects/intro_application.png">
      </div>
    </div><br /><br />

    <div class="row">
      <header style="width: 100%">
        <h3>Crowdsourcing Emotion, Intention, and Context Annotations from Dialog Videos</h3>
      </header>
      <div style="max-width: 36em; float: left">
        Dialog videos contain rich contextual, emotional, and intentional cues of the characters and their surroundings.
        In this project, we aim to build a crowdsourcing platform that collects these information from a large dialog video
        dataset. The collection and aggregation process can be challenging because the temporal dimension of the dataset
        has to be considered, and the labels can be highly subjective. We combat these challenges
        by exploring crowdsourcing techniques to design workflows and answer aggregation methods that efficiently collects
        multi-dimensional labels and overcome the subjective nature of the collected annotations.
      </div>
      <div class="project-image">
        <img src="/images/projects/comingsoon.png">
      </div>
    </div><br /><br />

    <div class="row">
      <header style="width: 100%">
        <h3>Improving Aggregate Crowd Performance on Crowd-Assisted Image Segmentation</h3>
      </header>
      <div style="max-width: 36em; float: left">
        In designing crowdsourcing tasks, we want to achieve as high accuracy as possible from the given
        resources. In this work, we introduced an approach of leveraging tool diversity as a means of improving aggregate
        crowd performance. We define tool diversity as a property of a system (or a task), that enables to use
        different tools for a same task. In semantic image segmentation tasks, we show that our approach
        improves the aggregate accuracy significantly, compared to using a single best tool alone.
      </div>

      <div class="project-image">
        <img src="/images/projects/2018-tooldiversity.png">
      </div>
    </div><br /><br />

    <div class="row">
      <header style="width: 100%">
        <h3>Crowd-Assisted Robotics</h3>
      </header>
      <div style="max-width: 36em; float: left">
        We are building crowdsourcing tools to help autonomous robots recognize new contexts or problems in real-time.
        Our system uses a hybrid intelligent workflow that combines human intelligence from the crowd with automated
        support in the form of focused tasks (ones that the system is not able to complete on its own) and smart tools
        for aiding object segmentation. <!--This uses the machine’s ability to precisely select content with people’s semantic
          understanding of the scene. It also allows us to benefit from as much automated labeling as can be done reliably,
          while using human intelligence to both fill in the gaps, and ensure that new objects in a scene do not result
          in failures to complete an assigned task.-->
        </div>
        <div class="project-image">
          <img src="/images/projects/2017-CI.png">
        </div>
      </div><br /><br />

      <!--div class="row">
      <header style="width: 100%">
      <h3>Intermodal Non-rigid Image Registration</h3>
    </header>
    <div style="max-width: 50em; float: left">
    I've also collaborated with Prof. (Emeritus) Charles R. Meyer in the Department of Biomedical Engineering and Prof. Jeffrey A. Fessler in EECS.
    I worked on medical image registration such as intermodal non-rigid image registration based on mutual information, and 2D-3D projection registration.<br />
    <ul>
    <li> Jean Y. Song and Charles R. Meyer, <a href="/publications/Jean_SPIE_Poster.pdf">2D-3D Image Registration using Thin-Plate Spline and Volume Rendering</a>,
    SPIE Medical Imaging 2015, Orlando, Feb. 2015. </li>
    <li> Jean Y. Song, J. A. Fessler, and C. R. Meyer, <a href="/publications/Jean_CR_final.pdf">Adaptive Filtering on Conditional Mutual Information for
    Intermodal Non-Rigid Image Registration</a>, IEEE NSS/MIC 2014, Seattle, Nov. 2014. </li>
  </ul>
</div>
</div-->
  </section>
</div>
