---
layout: default
---


<!-- Main -->
<div id="main">
  <section style="max-width: 61em">
    <header class="major">
      <h2><strong>About</strong></h2>
      <!--p class="post-meta">{% if post.author %} • {{ post.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p-->
    </header>

    <section style="max-width: 65em">

      I am an Assistant Professor of Information and Interaction Design (IID) major at <a href="https://www.yonsei.ac.kr/en_sc/">Yonsei University</a>, <a href="https://uic.yonsei.ac.kr/main/main.asp">Underwood International College</a>, Humanities, Arts, and Social Sciences (HASS) Division.
      Before joining Yonsei, I was an Assistant Professor in the Department of Electrical Engineering and Computer Science at DGIST.
      My research interests are focused on combining Artificial Intelligence (AI) techniques and Human-Computer Interaction (HCI) methodologies to harness efficient and effective human-computer collaboration.
      I manage <a href="https://diag.kr/">DIAG (Designing Intelligence Augmentation Group)</a> where we study and build hybrid intelligence systems — combining human and machine intelligence to understand and overcome challenging computational problems.
      <br/><br/>
      Research Keywords:
      <a href="https://www.explainxkcd.com/wiki/index.php/2173:_Trained_a_Neural_Net" target="_blank">#Human Computation</a>;
      <a href="https://hci.stanford.edu/publications/2013/CrowdWork/futureofcrowdwork-cscw2013.pdf" target="_blank">#Crowdsourcing</a>;
      <a href="https://interactions.acm.org/archive/view/march-april-2013/teaching-and-learning-human-computer-interaction" target="_blank">#Human-Computer Interaction</a>;
      <!--a href="https://www.forbes.com/sites/cognitiveworld/2019/06/26/the-present-and-future-of-computer-vision/" target="_blank">#Computer Vision</a>;-->
      <a href="https://www.csee.umbc.edu/courses/471/papers/turing.pdf" target="_blank">#Artificial Intelligence</a>
      <!--research interests look a bit too broad. Maybe talk about tool diversity, or something that shows the uniqueness of what you’re trying to do with research.-->
    </section>
  </section>

  <section style="max-width: 61em">
    <header class="major">
      <h2><strong>Publications</strong></h2>
    </header>
    <section style="max-width: 65em">
      <h3><strong>Conference and Journal Papers</strong></h3>
      <div class="row">
        <ul>
          <li>
            Sera Lee*, Dae R. Jeong*, Junyoung Choi, Jaeheon Kwak, Seoyun Son, <b>Jean Y. Song</b>, and Insik Shin. 
            "<a href="">Serenus: Alleviating Low-Battery Anxiety Through Real-time Accurate and User-Friendly Energy Consumption Prediction of Mobile Applications.</a>"
            In Proceedings of The ACM Symposium on User Interface Software and Technology (UIST 2024). (* Equal contribution)
          </li>
          <li>
            <b>Dokyun Lee, Sangeun Seo, Chanwoo Park</b>, Sunjun Kim, Buru Chang, and <b>Jean Y. Song</b>.
            "<a href="/publications/DIS2024_Intervention_techniques.pdf">Exploring Intervention Techniques to Alleviate Negative Emotions during Video Content Moderation Tasks as a Worker-centered Task Design.</a>"
            In Proceedings of the ACM Conference on Designing Interactive Systems (DIS 2024).
          </li>
          <li>
            <b>Yeonsun Yang, Ahyeon Shin, Nayoung Kim, Huidam Woo</b>, John Joon Young Chung, and <b>Jean Y. Song</b>.
            "<a href="/publications/CHI2024_FindtheBot.pdf">Find the Bot!: Gamifying Facial Emotion Recognition for Both Human Training and Machine Learning Data Collection.</a>"
            In Proceedings of the ACM/SIGCHI Conference on Human Factors in Computing Systems (CHI 2024).
          </li>
          <li>
            Sunjae Lee*, Minwoo Jeong*, Daye Song, Junyoung Choi, Seoyun Son, <b>Jean Y. Song†</b>, Insik Shin†.
            "<a href="http://cps.kaist.ac.kr/research/fluid-iot/24_chi_fluidiot.pdf">FLUID-IoT : Flexible and Granular Access Control in Shared IoT Environments via-UI-Level Control Distribution.</a>"
            In Proceedings of the ACM/SIGCHI Conference on Human Factors in Computing Systems (CHI 2024). (* Equal contribution, †Co-corresponding authors)
          </li>
          <li>
            Dongyoon Han*, Junsuk Choe*, Seonghyeok Chun, John Chung, Minsuk Chang, Sangdoo Yun, <b>Jean Y. Song</b>, Seong Joon Oh.
            "<a href="https://arxiv.org/abs/2303.17595">Neglected Free Lunch - Learning Image Classifiers Using Annotation Byproducts</a>"
            In Proceedings of the International Conference on Computer Vision (ICCV 2023). (* Equal contribution)
          </li>
          <li>
            <b>Jean Y. Song</b>*, Sangwook Lee*, Jisoo Lee, Mina Kim, and Juho Kim.
            "<a href="/publications/CHI2023_ModSandbox.pdf">ModSandbox: Facilitating Online Community Moderation Through Error Prediction and Improvement of Automated Rules.</a>"
            In Proceedings of the ACM/SIGCHI Conference on Human Factors in Computing Systems (CHI 2023). (* Equal contribution)
          </li>
          <li>
            Seoyun Son, Junyoung Choi, Sunjae Lee, <b>Jean Y. Song</b>, and Insik Shin.
            "<a href="/publications/CHI2023_OnlineMeeting.pdf">It is Okay to be Distracted: How Real-time Transcriptions Facilitate Online Meeting with Distraction.</a>"
            In Proceedings of the ACM/SIGCHI Conference on Human Factors in Computing Systems (CHI 2023).
          </li>
          <li>
            Sunjae Lee, Hoyoung Kim, Sijung Kim, Sangwook Lee, Hyosu Kim, <b>Jean Y. Song</b>, Steven Y. Ko, Sangeun Oh, and Insik Shin.
            "<a href="/publications/mobicom22-a-mash.pdf">A-Mash: Providing Single-app Illusion for Multi-app Use through User-centric UI Mashup.</a>"
            In Proceedings of the International Conference On Mobile Computing And Networking (MobiCom 2022).
          </li>
          <li>
            Yoonjoo Lee, John Joon Young Chung, Taesoo Kim, <b>Jean Y. Song</b>, and Juho Kim.
            "<a href="/publications/CHI2022_Promptiverse.pdf">Promptiverse: Scalable Generation of Scaffolding Prompts through Human-AI Knowledge Graph Annotation.</a>"
            In Proceedings of the ACM/SIGCHI Conference on Human Factors in Computing Systems (CHI 2022).
          </li>
          <li>
            Sunjae Lee, Hayeon Lee, Hoyoung Kim, Sangmin Lee, Jeong Woon Choi, Yuseung Lee, Seono Lee, Ahyeon Kim, <b>Jean Y. Song</b>, Sangeun Oh, Steven Y. Ko, and Insik Shin.
            "<a href="/publications/mobicom21-fluid-xp.pdf">FLUID-XP: Flexible User Interface Distribution forCross-Platform Experience.</a>"
            In Proceedings of the International Conference On Mobile Computing And Networking (MobiCom 2021).
          </li>
          <li>
            Zhefan Ye, <b>Jean Y. Song</b>, Zhiqiang Sui, Stephen Hart, Jorge Vilchis, Arbor, Walter S. Lasecki, and Odest C. Jenkins.
            "<a href="/publications/IUI2021_human-in-the-loop.pdf">Human-in-the-loop Pose Estimation via Shared Autonomy.</a>"
            In Proceedings of the ACM International Conference on Intelligent User Interfaces (IUI 2021).
            <font color="#FFC300">Best Paper Honorable Mention</font>
          </li>
          <li>
            Stephan J. Lemmer, <b>Jean Y. Song</b>, and Jason J. Corso.
            "<a href="/publications/CHI2021_VOT.pdf">Crowdsourcing More Effective Initializations for Single-target Trackers Through Automatic Re-querying.</a>"
            In Proceedings of the ACM/SIGCHI Conference on Human Factors in Computing Systems (CHI 2021).
          </li>
          <li>
            Yoonjoo Lee, John Joon Young Chung, <b>Jean Y. Song</b>, Minsuk Chang, and Juho Kim.
            "<a href="/publications/CHI2021_SWM.pdf">Personalizing Ambience and Illusionary Presence: How People Use "Study with Me" Videos to Create Effective Studying Environments.</a>"
            In Proceedings of the ACM/SIGCHI Conference on Human Factors in Computing Systems (CHI 2021).
          </li>
          <li>
            <b>Jean Y. Song</b>, John Joon Young Chung, David F. Fouhey, and Walter S. Lasecki.
            "<a href="/publications/CReference_CSCW2020.pdf">C-Reference: Improving 2D to 3D Object Pose Estimation Accuracy via Crowdsourced Joint Object Estimation.</a>"
            In Proceedings of the ACM International Conference on Computer Supported Cooperative Work and Social Computing (CSCW 2020).
          </li>
          <li>
            Divya Ramesh, Anthony Z. Liu, Andres J. Echeverria, <b>Jean Y. Song</b>, Nicholas R. Waytowich, and Walter S. Lasecki.
            "<a href="/publications/contrast_effect_AAMAS2020.pdf">Yesterday’s Reward is Today’s Punishment: Contrast Effects in Human Feedback to Reinforcement Learning Agents.</a>"
            In Proceedings of the International Conference on Autonomous Agents and Multiagent Systems (AAMAS 2020).
            <font color="#FFC300">Pragnesh Jay Modi Best Student Paper</font>
          </li>
          <li>
            Yan Chen, Maulishree Pandey, <b>Jean Y. Song</b>, Walter S. Lasecki, and Steve Oney.
            "<a href="/publications/GUITesting_CHI2020.pdf">Improving Crowd-Supported GUI Testing with Structural Guidance.</a>"
            In Proceedings of the ACM/SIGCHI Conference on Human Factors in Computing Systems (CHI 2020).
          </li>
          <li>John Joon Young Chung, <b>Jean Y. Song</b>, Sindhu Kutty, Sungsoo (Ray) Hong, Juho Kim, and Walter S. Lasecki.
            "<a href="/publications/ManyThoughts_CSCW2019.pdf">Efficient Elicitation Approaches to Estimate Collective Crowd Answers.</a>"
            In Proceedings of the ACM International Conference on Computer Supported Cooperative Work and Social Computing (CSCW 2019).
            Austin, TX. <font color="#FFC300">Best Paper Honorable Mention</font>
          </li>
          <li><b>Jean Y. Song</b>, Raymond Fok, Juho Kim, and Walter S. Lasecki.
            "<a href="https://doi.org/10.1145/3237188">FourEyes: Leveraging Tool Diversity as a Means to Improve Aggregate Accuracy in Crowdsourcing.</a>"
            In ACM Transactions on Interactive Intelligent Systems, Volume 19, Issue 1, Article No. 3 (TiiS 2019).
          </li>
          <li><b>Jean Y. Song</b>, Stephan J. Lemmer, Michael Xieyang Liu, Shiyan Yan, Juho Kim, Jason J. Corso, and Walter S. Lasecki.
            "<a href="/publications/popup_IUI2019.pdf">Popup: Reconstructing 3D Video Using Particle Filtering to Aggregate Crowd Responses.</a>"
            In Proceedings of the ACM International Conference on Intelligent User Interfaces (IUI 2019).
            Los Angeles, CA. <!--[25% Acceptance Rate]-->
          <li> <b>Jean Y. Song</b>, Raymond Fok, Alan Lundgard, Fan Yang, Juho Kim, and Walter S. Lasecki.
            "<a href="/publications/IUI2018_FourEyes.pdf">Two Tools are Better Than One: Tool Diversity as a Means of Improving Aggregate Crowd Performance.</a>"                      
            In Proceedings of the ACM International Conference on Intelligent User Interfaces (IUI 2018).
            Tokyo, Japan. <!--[23% Acceptance Rate]--><font color="#FFC300">Best Student Paper Honorable Mention</font>
          </li>
        </ul>
      </div>
      <h3><strong>Posters, Demos, and Workshop Papers</strong></h3>
      <div class="row">
        <ul>
          <li><b>Jeongeon Park</b>, Bryan Min, <b>Jean Y. Song</b>, Xiaojuan Ma, and Juho Kim.
            "<a href="/publications/CHI2024_SenseMakingWS_ChoiceMates.pdf">How do multiple LLM-powered conversational agents assist sensemaking and decision-making in an unfamiliar domain?</a>"
            In Proceedings of the ACM/SIGCHI Conference on Human Factors in Computing Systems (CHI 2024).
          </li>
          <li>Hyungyu Shin, Nabila Sindi, Yoonjoo Lee, Jaeryoung Ka, <b>Jean Y. Song</b>, and Juho Kim.
            "<a href="/publications/SIGCSE2022-poster-XDesign-paper.pdf">XDesign: Integrating Interface Design into Explainable AI Education.</a>"
            In Proceedings of the ACM Technical Symposium on Computer Science Education (SIGCSE TS 2022).
          </li>
          <li>Andrew M. Vernier, <b>Jean Y. Song</b>, Edward Sun, Allison Kench, and Walter S. Lasecki.
            "<a href="/publications/corsica_UIST2019-poster.pdf">Towards Universal Evaluation of Image Annotation Interfaces.</a>"
            In Proceedings of the ACM Symposium on User Interface Software and Technology (UIST 2019).
            New Orleans, LA.
          </li>
          <li> <b>Jean Y. Song</b>, Raymond Fok, Fan Yang, Kyle Wang, Alan Lundgard, and Walter S. Lasecki.
           "<a href="/publications/GroupSight2017_ToolDiversity.pdf">Tool Diversity as a Means of Improving Aggregate Crowd Performance on Image Segmentation Tasks.</a>"
            In HCOMP Workshop on Human Computation for Image and Video Analysis (HCOMP GroupSight 2017).
            Quebec City, Quebec. 2017.
          </li>
          <li> Sai R. Gouravajhala, <b>Jean Y. Song</b>, Jinyeong Yim, Raymond Fok, Yanda Huang, Fan Yang, Kyle Wang, Yilei An, and Walter S. Lasecki.
            "<a href="/publications/eureca_ci2017.pdf">Towards Hybrid Intelligence for Robotics.</a>"
            In Collective Intelligence Conference (CI 2017). New York, NY.
          </li>
          <li> <b>Jean Y. Song</b> and Charles R. Meyer.
            "<a href="/publications/Jean_SPIE_Poster.pdf">
              2D-3D Image Registration using Thin-Plate Spline and Volume Rendering.</a>"
            SPIE Medical Imaging 2015. Orlando, FL.
          </li>
          <li> <b>Jean Y. Song</b>, Jeffrey A. Fessler, and Charles R. Meyer.
            "<a href="/publications/Jean_CR_final.pdf">
              Adaptive Filtering on Conditional Mutual Information for Intermodal Non-Rigid Image Registration.</a>"
            IEEE Nuclear Science Symposium and Medical Imaging Conference (NSS/MIC 2014). Seattle, WA.
          </li>
        </ul>
      </div>
      <h3><strong>Thesis</strong></h3>
      <div class="row">
        <ul>
          <li><b>Jean Y. Song</b>.
            "<a href="/publications/Thesis2019_JeanYSong.pdf">Eliciting and Leveraging Input Diversity in Crowd-Powered Intelligent Systems.</a>"
            University of Michigan Ph.D. Thesis. 2019.
          </li>
        </ul>
      </div>
    </section>
  </section>

</div>
